<section class="edit">
  <form class="edit-gallery"
    name="editGallery"
    ng-submit="editGalleryCtrl.updateGallery()"
    novalidate>

  <fieldset>
    <span class="item-label">name:</span>
    <input type="text" class="input-std" name="name"
      ng-model="editGalleryCtrl.gallery.name">
  </fieldset>

  <fieldset>
    <span class="item-label">description</span>
    <input type="text" name="desc" class="input-std"
      ng-model="editGalleryCtrl.gallery.desc">
  </fieldset>
  <button class="btn-std" type="submit">update</button>
  </form>
</section>